<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-padel">
    <div class="navbar-brand">
      <img class="img-fluid nav-img" src="assets/img/EscUpm.gif">
      <span>Club de pádel - MiW</span>
    </div>
    <button aria-controls="menu" aria-expanded="false" aria-label="Menú" class="navbar-toggler" data-target="#menu"
            data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav nav ml-2 ml-lg-4 mr-auto mt-2 mt-lg-0" role="tablist">
        <li class="nav-item">
          <a [routerLink]="['/']" aria-controls="inicio" aria-selected="true" class="nav-link active" data-toggle="tab"
             id="inicio-tab" role="tab">Inicio</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['servicios']" aria-controls="servicios" aria-selected="false" class="nav-link" data-toggle="tab"
             id="servicios-tab" role="tab">Servicios</a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['instalaciones']" aria-controls="instalaciones" aria-selected="false" class="nav-link" data-toggle="tab"
             id="instalaciones-tab" role="tab">Instalaciones</a>
        </li>
        <li *ngIf="this.isLogged()" class="nav-item" id="menu-reservas">
          <a [routerLink]="['reservas']" aria-disabled="true" class="nav-link" tabindex="-1">Reservar</a>
        </li>
      </ul>
      <hr class="d-block d-lg-none">
      <ul class="nav navbar-nav my-2 my-lg-0 navbar-right">
        <li *ngIf="!this.isLogged()" class="nav-item mr-sm-2" id="menu-registro">
          <a class="nav-link" data-target="#modalRegistro" data-toggle="modal" href="#"><i class="fas fa-user-plus"></i>
            Registro</a>
        </li>
        <li *ngIf="!this.isLogged()" class="nav-item my-2 my-lg-0" id="menu-login">
          <a class="nav-link" data-target="#modalLogin" data-toggle="modal" href="#"><i class="fas fa-sign-in-alt"></i>
            Login</a>
        </li>
        <li *ngIf="this.isLogged()" class="nav-item my-2 my-lg-0" id="menu-username">
          <input class="form-control-plaintext" id="menu-username-val" readonly type="text"
                 value="Hola, {{this.username}}">
        </li>
        <li *ngIf="this.isLogged()" class="nav-item my-2 my-lg-0" id="menu-logout">
          <a (click)="logout()" class="nav-link" id="menu-logout-button"><i class="fas fa-sign-out-alt"></i> Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
