<script src="../js/servicios.js"></script>
<h1 class="mb-5"><i class="fas fa-cubes fa-lg mr-3"></i>Servicios</h1>
<div class="row my-5" id="menu-servicios">
  <div (mouseout)="changeStyle($event)" (mouseover)="changeStyle($event)" class="col-12 col-md-4 text-center">
    <div [ngClass]="color">
      <i [ngClass]="icon" class="fa fas fa-hands"></i>
    </div>
    <h2>Fisioterapeuta</h2>
    <p>Existe un servicio de fisioterapeuta para todos aquellos clientes que lo necesiten.</p>
  </div>
  <div class="col-12 col-md-4 text-center">
    <div>
      <i class="fa fas fa-dumbbell"></i>
    </div>
    <h2>Gimnasio</h2>
    <p>Tenemos un gimnasio para que puedas ponerte en forma para tus partidos más importantes.</p>
  </div>
  <div class="col-12 col-md-4 text-center">
    <div>
      <i class="fa fas fa-shopping-basket"></i>
    </div>
    <h2>Tienda</h2>
    <p>Disponemos de una tienda con artículos al mejor precio en la que puedes equiparte para dar tus mejores
      golpes.</p>
  </div>
  <div class="col-12 col-md-4 text-center">
    <div>
      <i class="fa fas fa-tshirt"></i>
    </div>
    <h2>Lavanderia</h2>
    <p>Ofrecemos servicio de limpieza de prendas deportivas para que mantegas tu ropa a punto para tus partidos.</p>
  </div>
  <div class="col-12 col-md-4 text-center">
    <div>
      <i class="fa fas fa-child"></i>
    </div>
    <h2>Guardería</h2>
    <p>Existe una zona recreativa para que los más pequeños también disfruten.</p>
  </div>
  <div class="col-12 col-md-4 text-center">
    <div>
      <i class="fa fas fa-parking"></i>
    </div>
    <h2>Parking</h2>
    <p>Zona de aparcamiento para que no pierdas tu valioso tiempo.</p>
  </div>
</div>

