<div class="container-fluid">
  <div id="main-header">
    <app-navbar></app-navbar>
  </div>
  <div id="main-section">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <div id="main-footer">
    <app-footer></app-footer>
  </div>
</div>

<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" id="singInForm">
          <div class="form-group row">
            <label for="inputUserSingUp" class="col-sm-2 col-form-label">Usuario:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputUserSingUp" placeholder="Identificador de usuario"
                     required>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Correo:</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPwdSingUp" class="col-sm-2 col-form-label">Clave:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPwdSingUp" placeholder="Clave">
              <small id="pswHelp" class="form-text text-muted">La contraseña debe tener entre más de 4 carácteres, una
                mayúscula y un número.</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputRepPwd" class="col-sm-2 col-form-label">Repita la clave:</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputRepPwd" placeholder="Repita la clave">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-1"></div>
            <div class="col-11">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Acepto las condiciones de uso y privacidad.
                </label>
              </div>
            </div>
          </div>
          <div class="mt-3" style="text-align: center;">
            <input type="submit" id="boton-registro" class="boton-form btn" value="Regístrame">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="loginForm" class="was-validated" name="loginForm" role="form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div class="form-group row">
            <label for="inputUserSingIn" class="col-sm-2 col-form-label">Usuario:</label>
            <div class="col-sm-10">
              <input type="text" formControlName="username" name="username" class="form-control" id="inputUserSingIn"
                     placeholder="Identificador de usuario" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPwdSingIn" class="col-sm-2 col-form-label">Clave:</label>
            <div class="col-sm-10">
              <input type="password" formControlName="password" name="password" class="form-control" id="inputPwdSingIn" placeholder="Clave"
                     required>
              <div *ngIf="error" class="invalid-feedback">Usuario y/o contraseña erróneos</div>
            </div>
          </div>
          <div class="mt-3" style="text-align: center;">
            <button type="submit" id="boton-login" class="boton-form btn"> Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
