<div class="container-fluid">
  <div id="main-header">
    <app-navbar></app-navbar>
  </div>
  <div id="main-section">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
  <hr>
  <div id="main-footer">
    <app-footer></app-footer>
  </div>
</div>

<div *ngIf="mostrarNotificacion" class="notificacion animated fadeIn fast alert" [ngClass]="{' alert-success': !hayErrorSignUp, 'alert-danger': hayErrorSignUp}" role="alert">
  <strong>{{this.textoNotificacion}}</strong>
</div>

<div class="modal fade" id="modalRegistro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true" #modalSignUp>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registro de usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form" id="singInForm" [formGroup]="signUpForm" (ngSubmit)="submitSignUp()">
          <div class="form-group row">
            <label for="inputUserSingUp" class="col-sm-2 col-form-label">Usuario:</label>
            <div class="col-sm-10">
              <input type="text" [ngClass]="{ 'is-invalid': !signUpForm.controls['username'].valid, 'is-valid': signUpForm.controls['username'].valid }" class="form-control" id="inputUserSingUp" placeholder="Identificador de usuario"
                     formControlName="username" #nombreUsuario>
              <div *ngIf="signUpForm.controls['username'].errors?.existe && !signUpForm.controls['username'].errors?.maxlength" class="form-control-feedback">
                El usuario '{{nombreUsuario.value}}' ya existe
              </div>
              <div *ngIf="signUpForm.controls['username'].pending && !signUpForm.controls['username'].errors?.maxlength" class="form-control-feedback">
                Verificando el usuario...
              </div>
              <small *ngIf="signUpForm.controls['username'].errors?.maxlength" id="pswHelp" class="form-text text-muted">El nombre de usuario debe tener menos de 8 caracteres</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputEmail" class="col-sm-2 col-form-label">Correo:</label>
            <div class="col-sm-10">
              <input type="email" [ngClass]="{ 'is-invalid': !signUpForm.controls['correo'].valid, 'is-valid': signUpForm.controls['correo'].valid }" class="form-control" id="inputEmail" placeholder="Email" formControlName="correo">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPwdSingUp" class="col-sm-2 col-form-label">Clave:</label>
            <div class="col-sm-10">
              <input type="password" [ngClass]="{ 'is-invalid': !signUpForm.controls['password1'].valid, 'is-valid': signUpForm.controls['password1'].valid }" class="form-control" id="inputPwdSingUp" placeholder="Clave" formControlName="password1">
              <small *ngIf="signUpForm.controls['password1'].errors?.minlength" id="pswHelp" class="form-text text-muted">La contraseña debe tener entre más de 4 carácteres.</small>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputRepPwd" class="col-sm-2 col-form-label">Repita la clave:</label>
            <div class="col-sm-10">
              <input type="password" [ngClass]="{ 'is-invalid': !signUpForm.controls['password2'].valid, 'is-valid': signUpForm.controls['password2'].valid }" class="form-control" id="inputRepPwd" placeholder="Repita la clave" formControlName="password2">
              <div *ngIf="signUpForm.controls['password2'].errors?.noiguales" class="form-control-feedback">
                Las contraseñas no coinciden
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputBirthDate" class="col-sm-2 col-form-label">Fecha de nacimiento:</label>
            <div class="col-sm-10">
              <input type="date" [ngClass]="{ 'is-invalid': !signUpForm.controls['fechaN'].valid, 'is-valid': signUpForm.controls['fechaN'].valid }" class="form-control" id="inputBirthDate" placeholder="yyyy-mm-dd" formControlName="fechaN">
            </div>
          </div>
          <div class="mt-3" style="text-align: center;">
            <input type="submit" [disabled]="!signUpForm.valid" (click)="cerrarModal(modalSignUp)" id="boton-registro" class="boton-form btn" value="Regístrame">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalLogin" bsModal #modalLogin="bs-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="loginForm" class="was-validated" name="loginForm" role="form" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <div class="form-group row">
            <label for="inputUserSingIn" class="col-sm-2 col-form-label">Usuario:</label>
            <div class="col-sm-10">
              <input type="text" formControlName="username" name="username" class="form-control" id="inputUserSingIn"
                     placeholder="Identificador de usuario" required>
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPwdSingIn" class="col-sm-2 col-form-label">Clave:</label>
            <div class="col-sm-10">
              <input type="password" formControlName="password" name="password" class="form-control" id="inputPwdSingIn" placeholder="Clave"
                     required>
              <div *ngIf="this.hayErrorLogin" class="invalid-feedback">Usuario y/o contraseña erróneos</div>
            </div>
          </div>
          <div class="mt-3" style="text-align: center;">
            <button type="submit" id="boton-login" class="boton-form btn"> Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
